h2 {
  color: aliceblue;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.page__header {
  padding-block: 1rem;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 0;
  justify-content: left;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo1 {
      width: 10rem;
      padding: 0;
      margin-bottom: 0.1px;
    }

    .logo2 {
      width: 2rem;
      margin-top: 0.1px;
    }
  }
}
