.Info {
  .search-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 0;
    padding: 30px;
    width: 100%;

    .ant-input-search {
      width: 200px;
    }
    #textoerror {
      color: #3A8BFF;
    }
  }
  .detailsInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 20px;

    .description-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 150px;

      .title {
        font-weight: bold;
        margin-bottom: 5px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }

      .description {
        color: #ccc;
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
