body {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

h1 {
  font-size: 30px;
  margin-bottom: 80px;
  color: aliceblue;
}

.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  //grid-template-columns: repeat(2, 1fr);
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se muevan a la siguiente fila */
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  gap: 10px; /* Espacio entre los elementos */
}

.menu-item {
  text-align: center;
  cursor: pointer;
  background-color: #3a8bff;
  width: 170px;
  height: 150px;
  perspective: 1000px;
  border-radius: 5%;

  //position: relative;
  //display: inline-block;
  //flex-direction: column;
  //align-items: center;
  // width: 100px;
  //margin-bottom: 30px;
  width: calc(
    33.33% - 10px
  ); /* Cada div ocupará un tercio del ancho menos el espacio entre los elementos */
  box-sizing: border-box;
}

.menu-item img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

// p {
//   color: azure;
//   padding: 10px 80px;
// }
